{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "rules": {
        "indent": [2, 4],
        "comma-dangle": ["error", "never"],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    },
    "settings": {
        "import/ignore": [".jsx"]
    }
}