.no-m {
    margin: 0;
}
.no-lm {
    margin-left: 0;
}
.no-rm {
    margin-right: 0;
}
.no-tm {
    margin-top: 0;
}
.no-bm {
    margin-bottom: 0;
}
.no-p {
    padding: 0;
}
.no-lp {
    padding-left: 0;
}
.no-rp {
    padding-right: 0;
}
.no-tp {
    padding-top: 0;
}
.no-bp {
    padding-bottom: 0;
}