html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

#fullContent {
    background: #ECEFF1 !important;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#main {
    flex: 1 0 auto;
}

footer.page-footer {
    background: rgba(0, 0, 0, 0.8);
}

// @font-face {
//     font-family: Atelas;
//     src: url(../../dist/assets/fonts/Amaranth-Regular.ttf);
// }

.footer-title {
    display: flex;
    align-items: center;
    .logo {
        width: 150px;
        height: 150px;
        // display: inline-block;
        // background-image: url('../../dist/assets/images/logo.png');
        // background-repeat: no-repeat;
        // background-size: cover;
    }
    h5 {
        display: inline-block;
        margin: 0 10px;
    }
   
}

ul.footer-links {
    list-style-type: none;
    li {
        display: inline-block;
        padding: 15px 25px;
    }
    a {
        color: #f5f5f5 !important;
    }
}

@media only screen and (min-width: 993px){
    .container{
        width:90%;
    }
}

a {
    color: #777;
    text-decoration: none; 
}

a:hover {
    text-decoration: none; 
}
    
a:focus {
    text-decoration: none; 
}

.pagination li.active {
    background-color: #3A6073;
}

.dropdown-content {
    z-index:9999;
}

.container-top {
    margin-top: 20px;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.no-m {
    margin: 0 !important;
}
.no-lm {
    margin-left: 0 !important;
}
.no-rm {
    margin-right: 0 !important;
}
.no-tm {
    margin-top: 0 !important;
}
.no-bm {
    margin-bottom: 0 !important;
}
.no-p {
    padding: 0 !important;
}
.no-lp {
    padding-left: 0 !important;
}
.no-rp {
    padding-right: 0 !important;
}
.no-tp {
    padding-top: 0 !important;
}
.no-bp {
    padding-bottom: 0!important;
}
.inline-block {
    display: inline-block !important;
}
.block {
    display: block !important;
}
.inline {
    display: inline !important;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}

.pointer {
    cursor: pointer;
}

.clear {
    clear: both;
}

.tab-color {
  .tab {
    a {
      color: #2bbbad !important;
    }
  }
  .indicator {
    background-color: #2bbbad !important
  }
}