.no-m {
    margin: 0;
}
.no-lm {
    margin-left: 0;
}
.no-rm {
    margin-right: 0;
}
.no-tm {
    margin-top: 0;
}
.no-bm {
    margin-bottom: 0;
}
.no-p {
    padding: 0;
}
.no-lp {
    padding-left: 0;
}
.no-rp {
    padding-right: 0;
}
.no-tp {
    padding-top: 0;
}
.no-bp {
    padding-bottom: 0;
}

body {
    background: #141E30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #141E30 , #243B55); 
    background: linear-gradient(to left, #141E30 , #243B55);  
    color: #fff;
}

input {
    color: #fff;
}

@media only screen and (min-width: 993px){
    .container{
        width:90%
    }
}