.ccard {
    line-height: 20px !important;
    font-size: 14px !important;
    font-weight: 500px !important;
}
.ccard-content {
    padding: 16px !important;
}

.ccard-title {
  font-size: 12px;
  font-weight: 300;
}

.c-card {
    .card-image {
        .card-title {
            font-size: 16px;
            padding: 12px;
            font-weight: 500;
        }
    }
}