.parallax {
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1 !important;
}

.movie {
  position: relative;
  background: #fff;
  margin-top:200px;
  min-height: 1000px;
  z-index:3;
}

@media (max-width: 600px) {
  .movie {
    margin-top: 0;
  }
}

@media (min-width: 600px) and (max-width: 992px){
  .movie {
    margin-top: 50;
  }
}

.back-button {
  padding: 1em;
  color: #fff;
  z-index: 20;
  position: fixed;
  top: 64px;
  background-color: #233241;
  width: 100%;
  left: 0;
  padding-left: 5%;
  display: flex;
  align-items: center;

  p {
    margin: 0 20px !important;
    font-size: 1.5em;
  }

}

.movie-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 800px;
  background-color: rgba(0,0,0,0.4);
  z-index: 2;
  width: 100%;
}

.mcard {
  transition: box-shadow .25s;
  //margin: 0.5rem 0 1rem 0,
  //borderRadius: 2px,
  //border: 1px solid rgba(0,0,0,0.3)
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.mcard-f14 {
  font-size: 14px;
}

.mcard-f12 {
  font-size: 12px;
}

.mcard-image {
  margin-left: 5px;
  margin-top: 3px;
}

.mcolor {
  color: #2bbbad;
}

.mcard-img {
  max-height: 100px !important;
}

.crew-collection {
  .collection-item.avatar {
    min-height:0;
    .circle {
      width: 42px !important;
    }
    .title {
      font-weight: 500;
    }
    p {
      font-size: 12px;
    }
  }
}

.slick-prev:before, .slick-next:before {
  color: black;
}

.crew-card {
  max-height: 100px;
  box-shadow: none;
  .card-image img {
    max-height: 100px;
    width: 100px !important;
    border-radius: 50%;
    padding: 5px;
  }

  .card-image div {
    height: 90px;
    width: 90px !important;
    border-radius: 50%;
    margin: 5px;
    background-color: #ccc;
    //position: relative;
    //display: block;
    //left: 0;
    //right: 0;
    //top: 0;
    //bottom: 0;
  }

  .card-image {
    .valign-wrapper {
      .valign {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }

}

.cast-title {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.4em;
  color: #fff;
  font-size: 14px !important;
  font-weight: 500;
  text-align: center;
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

@media(min-width: 720px) and (max-width: 900px) {
  .cast-title {
    font-size: 12px !important;
    padding: 0.4em;
  } 
}

@media(max-width: 720px) {
  .cast-title {
    font-size: 12px !important;
    padding: 0.2em;
  } 
}

.tv-details {
  position: relative;
  background: #fff;
  margin-top:200px;
  min-height: 1000px;
  z-index:2;
}

.tv-overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 1000px;
  background-color: rgba(0,0,0,0.4);
  z-index: 1;
  width: 100%;
}

.season-number {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 4px;
  background: #2bbbad;
  color: #fff;
  margin: 5px;
  text-align: center;
}

.mitem-chip {
  display: inline-block;
  font-weight: 800;
  padding: 4px;
  border: transparent;
  background: #2bbbad;
  color: #fff;
  margin: 5px;
  font-size: 12px
}

.mitem-tag {
  //color: #2bbbad;
  font-weight: 400;
  display: inline-block;
  margin: 5px;
  text-decoration: underline
}

@media (max-width: 600px) {
  .flex-s {
    display: flex;
    flex-direction: column; /* Stack on top */
  }
  .box-a {
    order: 2; /* Go down, bring Box B up */
  }
}