nav {
    background:rgba(0, 0, 0, 0.8);
    border-color: transparent;
}

.nav-wrapper {
    padding:0 5%;
}

.logo {
    width: 100px;
    height: 100px;
}

.brand-logo {
    top: -10px;
}

@media (max-width:600px) {
    .logo {
        width: 80px !important;
        height: 80px;
    }
}

.mobile-nav {
    .nav-id {
       div {
           padding: 40px 0px;
           background-color: #2bbbad;
           color: white;
           display: flex;
           align-items: center;
           h5 {
               text-align: center;
           }
       }
    }
}