nav {
    background:rgba(0, 0, 0, 0.8);
    border-color: transparent;
}

.nav-wrapper {
    padding:0 5%;
}

.logo {
    width: 100px;
    height: 100px;
    //display: inline;
    // background-image: url('../../dist/assets/images/logo.png');
    // background-repeat: no-repeat;
    // background-size: cover;
}

.brand-logo {
    top: -10px;
}