nav {
    //background-color: #3A6073;
    //background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5));
    background:rgba(0, 0, 0, 0.8);
    border-color: transparent;
}

.nav-wrapper {
    padding:0 5%;
}