// .ccard {
//     line-height: 20px !important;
//     font-size: 14px !important;
//     font-weight: 500px !important;
// }
// .ccard-content {
//     padding: 16px !important;
// }

// .ccard-title {
//   font-size: 12px;
//   font-weight: 300;
// }

// .c-card {
//     .card-image {
//         .card-title {
//             font-size: 16px;
//             padding: 12px;
//             font-weight: 500;
//         }
//     }
// }

// .transparent-bg {
//     background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
// }
// .card-title {
//     padding:7px 12px !important;
//     font-size: 20px !important;
// }
// .card-title i{
//     font-size: 16px;
// }

// .more-vert {
//     font-size:20px !important;
// }
// .card-top {
//     float: left;
//     position: absolute;
//     left: 0px;
//     top: 0px;
//     z-index: 5;
//     color: #FFFFFF;
//     padding:7px 12px !important;
//     font-size:20px;
// }

// .card-reveal{
//     z-index: 10 !important;
// }

.ccard {
    .ccard-title {
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0.6em;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        background: rgba(0, 0, 0, 0.3);
    }
    .card-rating {
        position: absolute;
        z-index: 2;
        bottom: 0;
        right: 0;
    }
    .card-top {
        position: absolute;
        z-index: 2;
    }
    .card-bookmark-fav {
        position: absolute;
        z-index: 2;
        right: 0;
        top: 0;
        float: right;
        padding: 5px;
        font-size: 20px;
        color: #fff;
    }
    .card-date {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 0.5em;
        span {
            display: block;
            text-align: center;
        }
        .day {
            font-weight: 700;
            font-size: 24px;
            text-shadow: 2px 3px 2px rgba(black, 0.18);
        }
        .month {
            text-transform: uppercase;
        }
        .month,
        .year {
            font-size: 12px;
        }
    }
}